body {
  background-color: #33cc33;
}

ul {
  list-style-type: none;
  margin: 0;
}

li a {
  float: left;
  display: block;
  background-color: #009999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


h1 {
  color: #000000;
  text-align: left;
  font-size: 30px;
} 

  

