body {
  background-color: #ccffcc;
}

.header {
  background-color: #00b3b3;
  text-align: center;
  padding: 30px;
  margin: 0px;
}
  
ul {
  list-style-type: none;
  margin: 0px;
}

.topnav {
  background-color: #33cccc;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

.topnav a:hover {
  background-color: #ccccb3;
}

li:kleurmodellen {
  border-right: none
}

h1 {
  color: #000000;
  font-size: 30px;
} 


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 40%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #80ccff;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 10px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

